doctype html
html(lang=en)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Linky
    meta(name='description' content='save yerr links')
    link(rel='stylesheet' href='dist/main.css')

  body
    header
      nav.main-nav
        .items
          .section
            a(href='#')
              h1.title Linky
          .section.settings-logout-save
            a.icon(href='#add') +
            a.icon(href='#settings') ⚙
            a(href='#logout') Logout

    nav.list-options
      .search-option-section
        a.icon 🔍
        input#search.search(placeholder='search' type='search')
      .list-archive-option-section
        a(href='#list') List
        a.inactive(href='#archive') Archive
    ul.link-container
      each l in [{"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"}, {"name": "Rustlings", "description": "Small exercises to get you used to reading and writing Rust code.", "source" : "https://github.com/carols10cents/rustlings"}, {"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"}, {"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"}, {"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"},{"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"},{"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"},{"name": "Google.com", "description": "an internet company", "source": "https://www.google.com"},]
        li(tabindex=0)
          h3.link-title
            a(href=l.source) #{l.name}
          p.description #{l.description}
          a.source(href=l.source) #{l.source}

    #add.modal-container.add.hidden
      .modal-inner
        .modal
          nav
            h1 Add Link
            h1
              a.close(href="#close") ✕
          input(type=textbox disabled)
          button.btn.blue(type=submit) Add

    #settings.modal-container.settings.hidden
          .modal-inner
            .modal
              nav
                h1 Settings
                h1
                  a.close(href="#close") ✕
              p Background Color
                select
                  option(value='bright') Bright
                  option(value='sepia' selected="selected") Sepia
                  option(value='dark') Dark
              input(type='email' value='joe@gmail.com')
              p
                a(href='') Download Links
              p
                a(href='') Password Reset
              p
                input(type='button' value='Save')

    #help.modal-container.help.hidden
          .modal-inner
            .modal
              nav
                h1 Key Binds
                h1
                  a.close(href="#close") ✕
              ul
                li
                  kbd j
                  |  - down
                li
                  kbd k
                  |  - up
                li
                  kbd l
                  |  - switch right list (wraps)
                li
                  kbd h
                  |  - switch left list (wraps)
                li
                  kbd a
                  |  - archive current item (or unarchive)
                li
                  kbd #
                  |  - delete current item
                li
                  kbd /
                  |  - search
                li
                  kbd ?
                  |  - toggle help menu
                li
                  kbd esc
                  |  - close current menu

  script(src='dist/index.js')
